{% extends "base.html" %}

{% block content %}
  <h1>Model: {{ car.model }}</h1>

  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>

  <div class="ml-3">
    <h4>Drivers</h4>
    {% for driver in car.drivers.all %}
      <hr>
      <p><strong>Username:</strong> {{ driver.username }}</p>
      <p><strong>First name:</strong> {{ driver.first_name }}</p>
      <p><strong>Last name:</strong> {{ driver.last_name }}</p>
    {% empty %}
      <p>No drivers for this car yet.</p>
    {% endfor %}
  </div>
{% endblock %}
